name: flutter_inappwebview_example
description: Demonstrates how to use the flutter_inappwebview plugin.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.0.0+1

publish_to: none

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.4
  flutter_downloader: ^1.7.3
  path_provider: ^2.0.9
  permission_handler: ^9.2.0
  url_launcher: ^6.0.20
  # connectivity: ^0.4.5+6
  flutter_inappwebview:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  integration_test:
    sdk: flutter
  # integration_test: ^1.0.2+1
#  integration_test:
#    git:
#      url: https://github.com/flutter/plugins.git
#      path: packages/integration_test
  pedantic: ^1.8.0

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/index.html
    - assets/page-1.html
    - assets/page-2.html
    - assets/js/
    - assets/css/
    - assets/images/
    - assets/favicon.ico
    - assets/sample_audio.ogg
    - assets/sample_video.mp4
    - test_assets/certificate.pfx
    - test_assets/in_app_webview_initial_file_test.html
    - test_assets/in_app_webview_on_load_resource_test.html
    - test_assets/in_app_webview_javascript_handler_test.html
    - test_assets/in_app_webview_on_load_resource_custom_scheme_test.html
    - test_assets/in_app_webview_on_console_message_test.html
    - test_assets/in_app_webview_on_create_window_test.html
    - test_assets/in_app_webview_on_js_dialog_test.html
    - test_assets/js/
    - test_assets/css/
    - test_assets/images/
    - test_assets/favicon.ico
    - test_assets/sample_audio.ogg
    - test_assets/sample_video.mp4

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
